{% extends 'misc/base.html' %}
{% block content %}
    {% load tags %}
    <div class="main-holder">
      <nav class="nav-holder">
        <div class="frame">
          <ul class="menu">
            <li><a href="/" target="_self">Home</a></li>
            <li><a href="/profile/accepted/" target="_self" class="active">Apply</a></li>
            <li><a href="/account/" target="_self">My Account</a></li>
            <li><a href="/account/credit-offers/ target="_self"">Credit offers</a></li>
          </ul>
        </div>
      </nav>
      <div id="main">
        <h1>Progress</h1>
        <div class="progress">
          <span class="line-progress" style="width: 70%;">&nbsp;</span>
        </div>
        <form action="/profile/accepted/" class="general-form general-form-other" method="post" id="general-form-profile-accepted">
          {% csrf_token %}
          <fieldset>
            <div class="">
              <div class="row">
                <label>Social Security Number*</label>
                <div class="input-holder">
                  <span class="input" style="width: 209px;"><input type="text" value="{{borrower.ssn}}" {% if borrower.borrower_status%} disabled {% endif %} placeholder="Social Security" id="form-accepted-first-security" class="validate[required,maxSize[9],minSize[9]]" name="ssn"  /></span>
                </div>
              </div>
              <div class="row">
                <label>Tax ID (EIN)*</label>
                <div class="input-holder">
                  <span class="input" style="width: 209px;"><input type="text" value="{{business.ein}}" {% if borrower.borrower_status%} disabled {% endif %} placeholder="EIN" id="form-accepted-first-ein" class="validate[required,maxSize[10],minSize[10]]"  name="ein" /></span>
                </div>
                <div class="btn-form" style="width: 177px;">
                    Save
                    <input type="submit" {% if borrower.borrower_status%} disabled {% endif %} value="Save" />
                </div>
              </div>
            </div>
          </form>
            {% if borrower.ssn != '' %}
            <form action="/profile/save-files/" method="post" enctype="multipart/form-data" id="accepted-save-files">
              {% csrf_token %}
            <div class="row">
              <label>Bank account*<span class="label-info">This information is not shared <br />with third parties*.</span>
              </label>
                <div class="input-holder ie-input-holder">
                  <div class="file ie-file">
                    <input type="file" class="file-input-area" {% if borrower.borrower_status%} disabled {% endif %} style="opacity: 0;" id="form-accepted-first-file1" name="bank_file" rel="0">
                    <a class="button-gray" href="#"  name="bank">Upload</a>
                    <span class="file-name"></span>
                  </div>     
                  <ul class="list-files ie-list-files">
                    <li>                 
                      <div class="error-file">
                        Error! Max limit 1MB!
                      </div>
                    </li> 
                    <li>
                       <div class="error-extension"> No correct extension file </div>
                    </li>  
                    {% for file in bank_file %}
                    <li>
                      <a href="/remove-bank-file/{{file.id}}/"><img src="{{ MEDIA_URL }}images/cancel.png"></a>
                      <a href="{{ MEDIA_URL }}{{file.bank_file}}" class="filename">{% split_filename file.bank_file %}</a>
                    </li>
                    {% endfor %}
                  </ul>
              </div>
              <div class="register-or-block ie-register-block">
                <span class="register-or-block-text">or</span>
              </div>
              <div class="register-center-block ie-register-center-block">
                <span><span class="register-center-block-text">Register your business checking account</span> <br/>(We do not share your banking information)</span>
              </div>
              <div class="btn-form ie-btn-form" style="width: 177px;  margin-top: -80px;">            
                <a href="/api/connect/first" target="_self" class="green-link connect-api" style="width: 178px;">
                  <span>Register</span>
                </a>
              </div>
            </div>
            <br/>          
            <div class="row ie-center">
              <label>
                Processor account*
                <span class="label-info">This information is not shared <br />with third parties*.</span>
              </label>
                <div class="input-holder ie-input-holder">
                  <div class="file ie-file">
                    <input type="file" class="file-input-area"  {% if borrower.borrower_status%} disabled {% endif %} style="opacity: 0;" id="form-accepted-first-file2" name="processor_file" rel="1">
                    <a class="button-gray" href="#"  name="processor">Upload</a>
                    <span class="file-name"></span>
                  </div>              
                  <ul class="list-files ie-list-files">
                    <li>                 
                      <div class="error-file">
                        Error! Max limit 1MB!
                      </div>
                    </li>   
                    <li>
                       <div class="error-extension"> No correct extension file </div>
                    </li>
                    {% for file in processor_file %}
                    <li>
                      <a href="/remove-processor-file/{{file.id}}/"><img src="{{ MEDIA_URL }}images/cancel.png"></a>
                      <a href="{{ MEDIA_URL }}{{file.processor_file}}" class="filename">{% split_filename file.processor_file %}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
            </div>
            <br/>
            <div class="row">
                <label>Financial Statements</label>
                <div class="input-holder ie-input-holder">
                  <div class="file ie-file">
                    <input type="file" class="file-input-area" {% if borrower.borrower_status%} disabled {% endif %} style="opacity: 0;" id="form-accepted-first-file3" name="financial_file" rel="2">
                    <a class="button-gray" href="#" name="financial">Upload</a>
                    <span class="file-name"></span>
                  </div>
                  <ul class="list-files ie-list-files">
                    <li>                 
                      <div class="error-file">
                        Error! Max limit 1MB!
                      </div>
                    </li>   
                    <li>
                       <div class="error-extension"> No correct extension file </div>
                    </li>
                    {% for file in financial_file %}
                    <li>
                      <a href="/remove-financial-file/{{file.id}}/"><img src="{{ MEDIA_URL }}images/cancel.png"></a>
                      <a href="{{ MEDIA_URL }}{{file.financial_file}}" class="filename">{% split_filename file.financial_file %}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
            </div>
            <div class="row ie-finish">
                <div class="btn-form finish-button" style="width: 177px; display:none">
                   <a href="#" target="_self" class="green-link" style="width: 178px;">
                    <span>Finish</span>
                  </a>                 
                </div>
            </div>
            </form>
            {% endif %}
          </fieldset>
      </div>
    </div>
{% endblock %}
