{% extends 'misc/base.html' %}
{% block content %}
    <div class="main-holder">
      <nav class="nav-holder">
        <div class="frame">
          <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/profile/accepted/" class="active">Apply</a></li>
            <li><a href="/account/">My Account</a></li>
          </ul>
        </div>
      </nav>
      <div id="main">
        <h1>Progress</h1>
        <div class="progress">
          <span class="line-progress" style="width: 100%;">&nbsp;</span>
        </div>
        <form action="#" class="general-form general-form-other" id="form-accepted-first">
          <fieldset>
            <div class="">
              <div class="row">
                <label>Social Security Number*</label>
                <div class="input-holder">
                  <span class="input" style="width: 209px;"><input type="text" value="{{bank.social_security_number}}" placeholder="Social Security" id="form-accepted-first-security" class="validate[required,maxSize[9],minSize[9]]" name="social_security_number"  /></span>
                </div>
              </div>
              <div class="row">
                <label>Tax ID (EIN)*</label>
                <div class="input-holder">
                  <span class="input" style="width: 209px;"><input type="text" value="{{bank.ein}}" placeholder="EIN" id="form-accepted-first-ein" class="validate[required,maxSize[10],minSize[10]]"  name="ein" /></span>
                </div>
              </div>
            </div>
            <div class="row">
              <label>Bank account*<span class="label-info">This information is not shared <br />with third parties*.</span>
              </label>
                <div class="input-holder">
                  <div class="file">
                    <input type="file" class="file-input-area" style="opacity: 0;">
                    <a class="button-gray" href="#">Upload</a>
                    <span class="file-name"></span>
                  </div>
                <div class="btn-form btn-form-indent" style="width: 177px;">
                  <span>
                    Save
                    <input type="submit" value="Save" id="form-accepted-first-submit" />
                  </span>
                </div>
              </div>
            </div>
            <br/>          
            <div class="row">
              <label>
                Processor account
                <span class="label-info">This information is not shared <br />with third parties*.</span>
              </label>
                <div class="input-holder">
                  <div class="file">
                    <input type="file" class="file-input-area" style="opacity: 0;">
                    <a class="button-gray" href="#">Upload</a>
                    <span class="file-name"></span>
                  </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <label>Financial Statements</label>
                <div class="input-holder">
                  <div class="file">
                    <input type="file" class="file-input-area" style="opacity: 0;">
                    <a class="button-gray" href="#">Upload</a>
                    <span class="file-name"></span>
                  </div>
                </div>
                <div class="btn-form" style="width: 177px;">
                  <span>
                    Save
                    <input type="submit" value="Save" />
                  </span>
                </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
{% endblock %}
