{% extends 'misc/base.html' %}
{% block content %}
		<div class="main-holder">
			<nav class="nav-holder">
				<div class="frame">
					<ul class="menu">
						<li><a href="/">Home</a></li>
						<li><a href="/profile/">Apply</a></li>
						<li><a href="/account/" class="active">My Account</a></li>
					</ul>
				</div>
			</nav>
			<div id="main">
				<a href="/profile/" class="link-exit">Edit</a>
				<ul class="main-list">
					<li>
						<div>
							<a href="/account/credit-offers/" >Credit Offers</a>
						</div>
					</li>
					<li>
						<div>
							<a href="/account/statements/">Statements</a>
						</div>
					</li>
					<li class="last-child">
						<div>
							<a href="/account/" class="active">Account</a>
						</div>
					</li>
				</ul>
				<div class="table-content">
					<h2 class="title-table">Personal</h2>
					<div class="table-info">
						<table>
							<tbody>
								{% if client.first_name != '' %}
								<tr>
									<td class="col01">Your name</td>
									<td class="col02">{{client.suffix}} {{client.first_name}} {{client.middle_name}} {{client.last_name}}</td>
								</tr>
								{% endif %}	
								{% if client.street != '' %}							
								<tr>
									<td class="col01">Personal address</td>
									<td class="col02">{{client.street}}, {{client.city}}, {{client.state}}, {{ client.zip_code }}, {{ client.country }} </td>
								</tr>
								{% endif %}
								{% if client.cell_phone != '' %}		
								<tr>
									<td class="col01">Personal phone</td>
									<td class="col02">{{ client.home_phone }} {{ client.cell_phone }}</td>
								</tr>
								{% endif %}
								{% if client.email != '' %}
								<tr>
									<td class="col01">Email</td>
									<td class="col02"><a href="mailto:{{ client.email }}" class="link-mail">{{ client.email }}</a></td>
								</tr>
								{% endif %}
								{% if bank.social_security_number != '' %}
								<tr>
									<td class="col01">Social Security #</td>
									<td class="col02">{{bank.social_security_number}}</td>
								</tr>
								{% endif %}
								{% if bank.ein != '' %}
								<tr>
									<td class="col01">EIN</td>
									<td class="col02">{{bank.ein}}</td>
								</tr>
								{% endif %}
							</tbody>
						</table>
					</div>
					<h2 class="title-table">Business</h2>
					<div class="table-info">
						<table>
							<tbody>
								{% if business.business_name != '' %}
								<tr>
									<td class="col01">Business name</td>
									<td class="col02">{{ business.business_name }}</td>
								</tr>
								{% endif %}
								{% if business.date_founded != None %}
								<tr>
									<td class="col01">Legal form</td>
									<td class="col02">{{ business.legal_form }}, {{ business.state_of_incorporation }}, {{ business.date_founded|date:'Y-m-d' }}</td>
								</tr>
								{% endif %}
								{% if business.street != '' %}
								<tr>
									<td class="col01">Business address</td>
									<td class="col02">{{business.street}}, {{business.city}}, {{business.state}}, {{ business.zip_code }}, {{ business.country }}</td>
								</tr>
								{% endif %}
								{% if business.business_phone != '' %}
								<tr>
									<td class="col01">Business phone</td>
									<td class="col02">{{ business.business_phone }}</td>
								</tr>
								{% endif %}
								{% if business.industry != None %}
								<tr>
									<td class="col01">Industry</td>
									<td class="col02">{{ business.industry }}</td>
								</tr>
								{% endif %}
								{% if loan_offer.monthly_sales != None %}
								<tr>
									<td class="col01">Monthly sales</td>
									<td class="col02">${{loan_offer.monthly_sales}}</td>
								</tr>
								{% endif %}
								{% if loan_offer.revenue != None %}
								<tr>
									<td class="col01">Revenue 2012</td>
									<td class="col02">${{loan_offer.revenue}}</td>
								</tr>
								{% endif %}
								{% if loan_offer.net_profit != None %}
								<tr>
									<td class="col01">Net profit 2012</td>
									<td class="col02">${{loan_offer.net_profit}}</td>
								</tr>
								{% endif %}
							</tbody>
						</table>
					</div>
					<h2 class="title-table">Bank Account</h2>
					<div class="statement-statistics">
						<div class="visual">
							<a href="#"><img src="{{ MEDIA_URL }}images/img03.jpg" alt="" width="526" height="316" /></a>
						</div>
						<div class="statistics-block">
							<h3>Statement Statistics</h3>
							<table>
								<tbody>
									<tr class="odd">
										<td class="col01">Average monthly chatgebacks</td>
										<td class="col02">$200</td>
									</tr>
									<tr>
										<td class="col01">Average monthly sales</td>
										<td class="col02">$100,000</td>
									</tr>
									<tr class="odd">
										<td class="col01">Average monthly credit card sales</td>
										<td class="col02">$50,000</td>
									</tr>
									<tr>
										<td class="col01">Balance, 2/2/2013</td>
										<td class="col02">$45,900</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}