{% extends 'misc/base.html' %}
{% block content %}
		{% load humanize %}
		<div class="main-holder">
			<nav class="nav-holder">
				<div class="frame">
					<ul class="menu">
						<li><a href="/" target="_self">Home</a></li>
						<li><a href="/profile/" target="_self">Apply</a></li>
						<li><a href="/account/" target="_self" class="active">My Account</a></li>
            			<li><a href="/account/credit-offers/" target="_self">Credit Offers</a></li>
					</ul>
				</div>
			</nav>
			<div id="main">
				<a href="/profile/" target="_self" class="link-exit">Edit</a>
				<ul class="main-list">
					<!--
					<li>
						<div>
							<a href="/account/statements/">Statements</a>
						</div>
					</li>
					-->
					<li class="last-child">
						<div>
							<a href="/account/" class="active" target="_self">Account</a>
						</div>
					</li>
				</ul>
				<div class="table-content">
					<h2 class="title-table">Personal</h2>
					<div class="table-info">
						<table>
							<tbody>
								{% if borrower.first_name != '' %}
								<tr>
									<td class="col01">Owner name</td>
									<td class="col02">{{borrower.suffix}} {{borrower.first_name}} {{borrower.middle_name}} {{borrower.last_name}} {{borrower.other_name}}</td>
								</tr>
								{% endif %}	
								{% if borrower.street != '' %}							
								<tr>
									<td class="col01">Personal address</td>
									<td class="col02">{{borrower.street}}, {{borrower.city}}, {{borrower.state}}, {{ borrower.zip_code }}, {{ borrower.country }} </td>
								</tr>
								{% endif %}
								{% if borrower.cell_phone != '' %}		
								<tr>
									<td class="col01">Personal phone</td>
									<td class="col02">{{ borrower.home_phone }}, {{ borrower.cell_phone }}</td>
								</tr>
								{% endif %}
								{% if borrower.email != '' %}
								<tr>
									<td class="col01">Email</td>
									<td class="col02"><a href="mailto:{{ system_account.email }}" class="link-mail">{{ system_account.email }}</a></td>
								</tr>
								{% endif %}
								{% if borrower.date_of_birth != '' %}
								<tr>
								<td class="col01">Date of Birth</td>
								<td class="col02">{{ borrower.date_of_birth|date:'Y-m-d' }}</td>
								</tr>
								{% endif %}
								{% if borrower.ssn != '' %}
								<tr>
									<td class="col01">Social Security #</td>
									<td class="col02">{{borrower.ssn}}</td>
								</tr>
								{% endif %}
								{% if borrower.score != '' %}
								<tr>
									<td class="col01">Score #</td>
									<td class="col02">{{borrower.score}}</td>
								</tr>
								{% endif %}
							</tbody>
						</table>
					</div>
					<h2 class="title-table">Business</h2>
					<div class="table-info">
						<table>
							<tbody>
								{% load tags %}
								{% if business.business_name != '' %}
								<tr>
									<td class="col01">Business name</td>
									<td class="col02">{{ business.business_name }}</td>
								</tr>
								{% endif %}
								{% if business.dba != '' %}
								<tr>
									<td class="col01">DBA</td>
									<td class="col02">{{ business.dba }}</td>
								</tr>
								{% endif %}
								{% if business.date_founded != None %}
								<tr>
									<td class="col01">Legal form</td>
									<td class="col02">{{ business.legal_form }}, {{ business.state_of_incorporation }}, {{ business.date_founded }}</td>
								</tr>
								{% endif %}
								{% if business.street != '' %}
								<tr>
									<td class="col01">Business address</td>
									<td class="col02">{{business.street}}, {{business.city}}, {{business.state}}, {{ business.zip_code }}, {{ business.country }}</td>
								</tr>
								{% endif %}
								{% if business.business_phone != '' %}
								<tr>
									<td class="col01">Business phone</td>
									<td class="col02">{{ business.business_phone }}</td>
								</tr>
								{% endif %}
								{% if business.industry != None %}
								<tr>
									<td class="col01">Industry</td>
									<td class="col02">{{ business.industry }}</td>
								</tr>
								{% endif %}
								{% if business.ein != '' %}
								<tr>
									<td class="col01">EIN</td>
									<td class="col02">{{business.ein}}</td>
								</tr>
								{% endif %}
								{% if business_measure.monthly_sales != None %}
								<tr>
									<td class="col01">Monthly sales</td>
									<td class="col02">${{business_measure.monthly_sales|intcomma}}</td>
								</tr>
								{% endif %}
								{% if business_measure.revenue != None %}
								<tr>
									<td class="col01">Revenue 2012</td>
									<td class="col02">${{business_measure.revenue|intcomma}}</td>
								</tr>
								{% endif %}
								{% if business_measure.net_profit != None %}
								<tr>
									<td class="col01">Monthly credit card sales</td>
									<td class="col02">${{business_measure.net_profit|intcomma}}</td>
								</tr>
								{% endif %}
								{% if business_measure.cash != None %}
								<tr>
									<td class="col01">Existing cash advance</td>
									<td class="col02">${{business_measure.cash|intcomma}}</td>
								</tr>
								{% endif %}
								{% if bank_file|length  %}
								<tr>
									<td class="col01">Bank statements</td>
									<td class="col02">
				                    	{% for file in bank_file %}
				                      		<a href="{{ MEDIA_URL }}{{file.bank_file}}" class="filename filename-account">{% split_filename file.bank_file %}</a>
				                    		<br/>
				                    	{% endfor %}
									</td>
								</tr>								
								{% endif %}								
								{% if processor_file|length  %}
								<tr>
									<td class="col01">Processor statements</td>
									<td class="col02">
				                    	{% for file in processor_file %}
				                      		<a href="{{ MEDIA_URL }}{{file.processor_file}}" class="filename filename-account">{% split_filename file.processor_file %}</a>
				                    		<br/>
				                    	{% endfor %}
									</td>
								</tr>								
								{% endif %}	
								{% if financial_file|length  %}
								<tr>
									<td class="col01">Financial statements</td>
									<td class="col02">
				                    	{% for file in financial_file %}
				                      		<a href="{{ MEDIA_URL }}{{file.financial_file}}" class="filename filename-account">{% split_filename file.financial_file %}</a>
				                    		<br/>
				                    	{% endfor %}
									</td>
								</tr>								
								{% endif %}	
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
