{% extends 'misc/base.html' %}
{% block content %}
		<div class="main-holder">
			<nav class="nav-holder">
				<div class="frame">
					<ul class="menu">
						<li><a href="/">Home</a></li>
						<li><a href="/profile/" class="active">Apply</a></li>
						<li><a href="/account/">My Account</a></li>
					</ul>
				</div>
			</nav>
			<div id="main">
				<h1>Progress</h1>
				<div class="progress">
					<span class="line-progress" style="width: 1%;">&nbsp;</span>
				</div>
				<form action="#" class="general-form border-none" id="general-form-profile">
					<fieldset>
						<div class="row">
							<label>Your name*</label>
							<div class="input-holder">
								<span class="input" style="width: 52px;">
									<input type="text"
									 {% ifequal borrower.suffix ' ' %}
									 	value=""
									 {% else %}
									 	value="{{borrower.suffix}}"
									 {% endifequal %} 
									placeholder="Title"
									id="general-form-profile-your-name-first" name="suffix" />
								</span>
								<span class="input" style="width: 120px;">
									<input type="text" 
									value="{{borrower.first_name}}" placeholder="First"
									class="validate[required]" 
									id="general-form-profile-your-name-second" name="first_name" />
								</span>
								<span class="input" style="width: 162px;">
									<input type="text"
									value="{{borrower.middle_name}}" placeholder="Middle" 
									id="general-form-profile-your-name-third" name="middle_name" />
								</span>
								<span class="input" style="width: 204px;"><input type="text"
									value="{{borrower.last_name}}" placeholder="Last"  
									class="validate[required]" id="general-form-profile-your-name-four"  name="last_name" /></span>
								<span class="input" style="width: 50px; margin:0;"><input type="text"  placeholder="Suffix" name="other_name"  value="{{borrower.other_name}}" />
								</span>
							</div>
						</div>
						<div class="row">
							<label>Personal address*</label>
							<div class="input-holder">
								<span class="input" style="width: 209px;"><input type="text"
									value="{{borrower.street}}" placeholder="Street" 
									class="validate[required]" id="general-form-profile-address-first"  name="street" />
								</span>
								<span class="input" style="width: 107px;"><input type="text"
									value="{{borrower.city}}" placeholder="City" 
								 class="validate[required]" id="general-form-profile-addresse-second" name="city" />
								</span>
								<span class="input" style="width: 59px;"><input type="text"

								 {% ifequal borrower.state None %}
								 	value=""
								 {% else %}
								 	value="{{borrower.state}}"
								 {% endifequal %}

								 placeholder="State"
								  id="general-form-profile-addresse-third" name="state" class="input-state validate[required]" />
								</span>
								<span class="input" style="width: 103px;"><input type="text"
								 	value="{{borrower.zip_code}}" placeholder="Zip code" 
									class="validate[required]" id="general-form-profile-addresse-four"  name="zip_code" />
								</span>
								<span class="input" style="width: 76px;">
									<input type="text"

										 {% ifequal borrower.country None %}
										 	value=""
										 {% else %}
										 	value="{{borrower.country}}"
										 {% endifequal %}

									placeholder="Country" class="input-country validate[required]"
									id="general-form-profile-addresse-country" 
									name="country" />
								</span>
							</div>
						</div>
						<div class="row">
							<label>Personal phone*</label>
							<div class="input-holder">
								<span class="input" style="width: 209px;"><input type="text"
									value="{{borrower.home_phone}}" placeholder="Your home phone" 								 
									id="general-form-profile-phone" name="home_phone" /></span>
								<span class="input" style="width: 204px;"><input type="text"
									value="{{borrower.cell_phone}}" placeholder="Your cell phone"
									id="general-form-profile-second" name="cell_phone" class="validate[required,custom[phone]]" /></span>
							</div>
						</div>
						<div class="row">
							<label>Date of birth*</label>
							<div class="input-holder">
								<span class="input" style="width: 209px;"><input type="text"
									value="{{ borrower.date_of_birth|date:'Y-m-d' }}" placeholder="YYYY-MM-DD"
									class="validate[required, custom[date]]"
									id="general-form-profile-date" name="date_of_birth" /></span>
							</div>
						</div>
						<div class="row">
							<label>Email*</label>
							<div class="input-holder">
								<span class="input" style="width: 209px;">
									<input type="text" 
									value="{{system_account.email}}" placeholder="Email"
									class="validate[required, custom[email]]" id="general-form-profile-email" name="email" /></span>
								<div class="btn-form" style="width: 177px;">
									<span>
										Save
										<input type="submit" value="Save" id="general-form-profile-submit" />
									</span>
								</div>
							</div>
						</div>
					</fieldset>
				</form>
				<form action="#" class="general-form" id="general-form-profile-business">
					<fieldset>
						<div class="row">
							<label>Business name*</label>
							<div class="input-holder">
								<span class="input" style="width: 209px;"><input type="text" 
									value="{{business.business_name}}" placeholder="Business name"
									class="validate[required]" 
									id="general-form-profile-business-name-first" name="business_name" />
								</span>
								<span class="input" style="width: 163px;"><input type="text"
									value="{{business.dba}}" placeholder="DBA"
									class="validate[required]" id="general-form-profile-business-name-second" name="dba" />
								</span>
							</div>
						</div>
						<div class="row">
							<label>Legal form*</label>
							<div class="input-holder">
								<span class="input" style="width: 136px;"><input type="text"  class="validate[required]"

									{% ifequal business.legal_form None %}
										value=""
									{% else %}
										value="{{business.legal_form}}"
									{% endifequal %}

									placeholder="Legal form"
									id="general-form-profile-business-legal-first" name="legal_form" /></span>
								<span class="input" style="width: 207px;"><input type="text"
									{% ifequal business.state_of_incorporation None %}
										value=""
									{% else %}
										value="{{business.state_of_incorporation}}"
									{% endifequal %}
									placeholder="State of incorporation" 
									class="input-state validate[required]"
									id="general-form-profile-business-legal-second" name="state_of_incorporation" /></span>
								<span class="input" style="width: 132px;"><input type="text" 
									value="{{business.date_founded|date:'Y-m-d'}}" placeholder="YYYY-MM-DD"
									class="validate[required, custom[date]]"
									id="general-form-profile-business-legal-third" name="date_founded" /></span>
							</div>
						</div>
						<div class="row">
							<label>Business address*</label>
							<div class="input-holder">
								<span class="input" style="width: 209px;"><input type="text"
									value="{{business.street}}" placeholder="Street"  class="validate[required]"
									id="general-form-profile-business-address-first" name="street" /></span>
								<span class="input" style="width: 104px;"><input type="text"
									value="{{business.city}}" placeholder="City"  
									class="validate[required]" id="general-form-profile-business-address-second" name="city" />
								</span>
								<span class="input" style="width: 66px;"><input type="text" 
									
									{% ifequal business.state None %}
										value=""
									{% else %}
										value="{{business.state}}"
									{% endifequal %}

									placeholder="State" class="input-state validate[required]"
									id="general-form-profile-business-address-third" name="state" /></span>
								<span class="input" style="width: 101px;"><input type="text"
									value="{{business.zip_code}}" placeholder="Zip code" 
									class="validate[required]" id="general-form-profile-business-address-four" name="zip_code" /></span>
								<span class="input" style="width: 75px;"><input type="text"

									{% ifequal business.country None %}
										value=""
									{% else %}
										value="{{business.country}}"
									{% endifequal %}

									placeholder="Country" class="input-country validate[required]" id="general-form-profile-business-address-country"
									name="country" 
									 /></span>
							</div>
						</div>
						<div class="row">
							<label>Business phone</label>
							<div class="input-holder">
								<span class="input" style="width: 209px;"><input type="text" 
									value="{{business.business_phone}}" placeholder="Business phone"
									name="business_phone" /></span>
							</div>
						</div>
						<div class="row">
							<label>Industry</label>
							<div class="input-holder">
								<span class="input" style="width: 209px;"><input type="text" 
									{% ifequal business.industry None %}
										value=""
									{% else %}
										value="{{business.industry}}"
									{% endifequal %}
									placeholder="Industry" class="input-industry validate[required]" id="industry"									
									name="industry" /></span>
								<div class="btn-form" style="width: 177px;">
									<span>
										Save
										<input type="submit" value="Save" id="general-form-profile-business-submit" />
									</span>
								</div>
							</div>
						</div>
					</fieldset>
				</form>
				<form action="#" class="general-form" id="general-form-profile-credit">
					<fieldset>
						<div class="row">
							<label>Loan amount*</label>
							<div class="input-holder">
								<span class="input" style="width: 209 px;"><input type="text"
									value="{{business_measure.amount}}" placeholder="Loan amount" 
									class="validate[required]" id="general-form-profile-credit-loan-amount" name="amount"  /></span>
							</div>
						</div>
						<div class="row">
							<label>Monthly sales*</label>
							<div class="input-holder">
								<span class="input" style="width: 209px;"><input type="text"
									{% ifequal business_measure.monthly_sales None %}
										value=""
									{% else %}
										value="{{business_measure.monthly_sales}}"
									{% endifequal %}
									placeholder="Monthly sales"  
									class="validate[required]" id="general-form-profile-credit-monthly-sales" 
									name="monthly_sales" />
								</span>
							</div>
						</div>
						<div class="row">
							<label>Revenue 2012*</label>
							<div class="input-holder">
								<span class="input" style="width: 209px;"><input type="text"
									{% ifequal business_measure.revenue None %}
										value=""
									{% else %}
										value="{{business_measure.revenue}}"
									{% endifequal %}
									placeholder="2012 revenue"
									name="revenue" class="validate[required]" id="general-form-profile-credit-revenue" /></span>
							</div>
						</div>
						<div class="row">
							<label>Net profit 2012*</label>
							<div class="input-holder">
								<span class="input" style="width: 209px;"><input type="text" name="profit" 
									{% ifequal business_measure.net_profit None %}
										value=""
									{% else %}
										value="{{business_measure.net_profit}}"
									{% endifequal %}
									placeholder="2012 profit" class="validate[required]" id="general-form-profile-credit-profit"
									 />
								</span>
								<div class="btn-form" style="width: 177px;">
									<span>
										Save
										<input type="submit" value="Save" id="general-form-profile-credit-submit" />
									</span>
								</div>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
{% endblock %}