{% extends 'misc/base.html' %}
{% block content %}
    <div class="main-holder">
      <nav class="nav-holder">
        <div class="frame">
          <ul class="menu">
            <li><a href="/" target="_self">Home</a></li>
            <li><a href="/profile/" target="_self">Apply</a></li>
            <li><a href="/account/" target="_self">My Account</a></li>
            <li><a href="/account/credit-offers/" target="_self">Credit Offers</a></li>
          </ul>
        </div>
      </nav>
      <div id="main">
        <form action="/auth/" method="post" class="form-user form-user-content">
          {% csrf_token %}
          <fieldset>
            <div class="holder">
              <div class="input-holder" style="width: 149px;">
                <span class="input"><input type="text" value="" placeholder="Email" name="email" /></span>
              </div>
              <div class="input-holder" style="width: 149px;">
                <span class="input"><input type="password" value="" placeholder="Password" name="password" /></span>
              </div>
              <input type="submit" class="btn-form" value="Sign in" />
            </div>
          </fieldset>
        </form>
        <p style="text-align:center">{{result}}</p>
      </div>
    </div>
  </div>
{% endblock %}
