{% extends 'misc/base.html' %}
{% block content %}
		<div class="main-holder">
			<nav class="nav-holder">
				<div class="frame">
					<ul class="menu">
						<li><a href="/">Home</a></li>
						<li><a href="/profile/">Apply</a></li>
						<li><a href="/account/">My Account</a></li>
            			<li><a href="/account/credit-offers/"  class="active">Credit offers</a></li>
					</ul>
				</div>
			</nav>
			<div id="main">
				<ul class="main-list">
					<li>
						<div>
							<a href="/account/credit-offers/" class="active">Credit Offers</a>
						</div>
					</li>
					<!--
					<li>
						<div>
							<a href="/account/statements/">Statements</a>
						</div>
					</li>
					-->
					<li class="last-child">
						<div>
							<a href="/account/">Account</a>
						</div>
					</li>
				</ul>
				<div class="table-content">
					<table class="table-general">
						<tbody>
							<tr>
								<th class="col01">Amount</th>
								<th class="col02 align-left">Lender Name</th>
								<th class="col03">To be repaid</th>
								<th class="col04">Daily repayment <br />% of sales*</th>
								<th class="col05">Time to repay**</th>
								<th class="col06">Status</th>
							</tr>
							{% for list in lists %}
								{% if list.amount != None %}
								<tr class="{% cycle 'odd' '' %}">
									<td class="col01">${{list.amount }}</td>
									<td class="col02 align-left">{{list.company}}</td>
									<td class="col01">${{list.repaid_amount }}</td>
									<td class="col04">{{list.daily_repayment_sale}}%</td>
									<td class="col05">{{list.estimated_repaid_term}} months</td>
									<td class="col06">
										{% if list.status == None %}
										<div class="link-holder">
											<a href="#" class="btn-status accepted-loan" rel="{{list.id}}"><span>Accept</span></a>
											<a href="#" class="btn-status decline decline-loan" rel="{{list.id}}"><span>Decline</span></a>
										</div>
										<span class="mark normal" style="display:none;">&nbsp;</span>
										{% else %}
											{% if list.status == 1 %}
												<span style="" class="mark normal">&nbsp;</span>
											{% else %}
												<span style="" class="mark delete">&nbsp;</span>
											{% endif %}
										{% endif %}
									</td>
								</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
				<span class="table-text-info">* Percentage of your daily sales which is remieed to the financing provider to repay the loan and interest. <br />** Estimated time to repay based on your current sales.</span>
			</div>
		</div>
{% endblock %}