{% extends 'misc/base.html' %}
{% block content %}
    {% load humanize %}
    <div class="main-holder">
      <nav class="nav-holder">
        <div class="frame">
          <ul class="menu">
            <li><a href="/" target="_self">Home</a></li>
            <li><a href="/profile/" target="_self" class="active">Apply</a></li>
            <li><a href="/account/" target="_self">My Account</a></li>
            <li><a href="/account/credit-offers/" target="_self">Credit Offers</a></li>
          </ul>
        </div>
      </nav>
      <div id="main">
        <span class="content-info"><span class="mark">&nbsp;</span>You qualify for ${{money|intcomma}} of financing, <br />but we need to confirm a few more details about you and your business for a final approval.</span>
        <div class="row-link">
          <a href="#" target="_self" class="green-link accepted-credit" style="width: 178px;">
            <span>Continue</span>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
