{% extends 'misc/base.html' %}
{% block content %}
    <div class="main-holder">
      <nav class="nav-holder">
        <div class="frame">
          <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/profile/">Apply</a></li>
            <li><a href="/account/" class="active">My Account</a></li>
          </ul>
        </div>
      </nav>
      <div id="main">
        <span class="content-info"><span class="mark">&nbsp;</span>You qualify for ${{loan_offer.amount}} of financing, <br />but we need to confirm a few more details about you and your business for a final approval.</span>
        <div class="row-link">
          <a href="#" class="green-link accepted-credit" style="width: 178px;">
            <span>Continue</span>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
