{% extends 'misc/base.html' %}
{% block content %}
		<div class="main-holder">
			<nav class="nav-holder">
				<div class="frame">
					<ul class="menu">
						<li><a href="/">Home</a></li>
						<li><a href="/profile/">Apply</a></li>
						<li><a href="/account/" class="active">My Account</a></li>
            			<li><a href="/account/credit-offers/">Credit offers</a></li>
					</ul>
				</div>
			</nav>
			<div id="main">
				<a href="#" class="link-exit">Edit</a>
				<ul class="main-list">	
					<li>
						<div>
							<a href="/account/statements/" class="active">Statements</a>
						</div>
					</li>
					<li class="last-child">
						<div>
							<a href="/account/">Account</a>
						</div>
					</li>
				</ul>
				<div class="table-content">
					<table class="table-general table-statements">
						<tbody>
							<tr>
								<th class="col01 align-left">Taken</th>
								<th class="col02">Amount Received</th>
								<th class="col03">Outstanding Balance</th>
								<th class="col04">Provider</th>
								<th class="col05">&nbsp;</th>
							</tr>
							<tr class="odd">
								<td class="col01 align-left">yesterday</td>
								<td class="col02">$20,000</td>
								<td class="col03">$19,204</td>
								<td class="col04">Bank of America</td>
								<td class="col05">&nbsp;</td>
							</tr>
							<tr>
								<td class="col01 align-left">5 months ago</td>
								<td class="col02">$10,000</td>
								<td class="col03">$0</td>
								<td class="col04">Chase</td>
								<td class="col05">&nbsp;</td>
							</tr>
							<tr class="total">
								<td class="col01 align-left">Total</td>
								<td class="col02">$30,000</td>
								<td class="col03">$19,204</td>
								<td class="col04">&nbsp;</td>
								<td class="col05">&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
{% endblock %}