.main-menu a .holder{
	margin-top: expression(this.parentNode.offsetHeight > this.offsetHeight ? ((this.parentNode.offsetHeight-this.offsetHeight)/2 + "px") : "0");
}

.ie-finish {
	margin-top: 50px;
	margin-left: 800px;
}

.ie-file {
 margin-top: -40px;
}

.ie-register-block {
}

.ie-register-center-block {
}
.ie-center {
		margin-top: 50px;
}
.ie-btn-form {
	margin-left: 810px;
	margin-top: -100px;
}