{% extends 'misc/base.html' %}
{% block content %}
    <div class="main-holder">
      <nav class="nav-holder">
        <div class="frame">
          <ul class="menu">
            <li><a href="/" target="_self">Home</a></li>
            <li><a href="/profile/" target="_self">Apply</a></li>
            <li><a href="/account/" target="_self" class="active">My Account</a></li>
          </ul>
        </div>
      </nav>
      <div id="main">
        <img src="{{ MEDIA_URL }}images/404.png" alt="" class="error-image" />
        <h1 class="error-text">Oops! Page  not found.</h1>
          <a href="/" target="_self" class="green-link error-button">
            <span>Back to SmallCredt.com</span>
          </a>
      </div>
    </div>
  </div>
{% endblock %}
