        <span id="header-username">
        {% if flag %}
        <div class="welcom-block" style="display:none;">
            <a class="welcome" href="#"></a>
              <div class="welcom-drop">
                  <ul>
                    <li><a class="item01" href="#">Logout</a></li>
                    <li><a class="item02" href="#">Account Settings</a></li>
                  </ul>
              </div>
        </div>
        {% else %}
        <form action="#" class="form-user">
          <fieldset>
            <div class="holder">
              <div class="input-holder" style="width: 121px;">
                <span class="input"><input type="text" value="email" /></span>
              </div>
              <div class="input-holder" style="width: 121px;">
                <span class="input"><input type="password" value="password" /></span>
              </div>
              <input type="button" class="btn-form" value="Sign in" />
            </div>
            <div class="row-link">
              <span class="link-holder"><a class="register-popup" href="#">Sign up for free</a></span>
              <span class="link-holder"><a href="#" id="btn-popup1">Forgot ID/Password</a></span>
            </div>
          </fieldset>
        </form>
        {% endif %}
        </span>