{% extends 'misc/base.html' %}
{% block content %}
  <div class="promo">
      <div class="video">
        <iframe src="http://player.vimeo.com/video/65617946?title=0&amp;byline=0&amp;portrait=0&amp;color=92c763" width="550" height="310" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
        <!-- <iframe src="http://player.vimeo.com/video/65617505?title=0&amp;byline=0&amp;portrait=0&amp;color=92c763" width="550" height="309" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen> -->
       </iframe>
  		</div>
      <h1>How much money does <br /><span>your business need?</span></h1>
      <form action="#" class="form-content">
        <fieldset>
          <div class="row">
            <input type="button" class="btn-apply {% if active %}active-user{% else %}register-popup{% endif %}" value="Apply" />
          </div>
          <div class="row">
            <label>I agree to <a href="/privacy-and-security/">Privacy Policy</a> and <a href="/terms-of-use/">Terms of Use</a>.</label>
          </div>
        </fieldset>
      </form>
      <div class="slide-holder">
        <label>Amount</label>
        <div class="slide">
          <div class="slide-frame"></div>
        </div>
      </div>
    </div>
    <div class="main-holder">
      <div id="main">
        <ul class="main-menu">
          <li class="item01">
            <a href="#" class="main-menu-content">
              <span class="holder">
                <span class="ico"><img src="{{ MEDIA_URL }}images/ico01.png" alt="" width="36" height="36" /></span>
                <span class="text">Lenders compete to provide <br />their best offers to your business</span>
              </span>
            </a>
          </li>
          <li class="item02">
            <a href="#">
              <span class="holder">
                <span class="ico"><img src="{{ MEDIA_URL }}images/ico02.png" alt="" width="43" height="44" /></span>
                <span class="text">Free to use</span>
              </span>
            </a>
          </li>
          <li class="item03">
            <a href="#">
              <span class="holder">
                <span class="ico"><img src="{{ MEDIA_URL }}images/ico03.png" alt="" width="50" height="51" /></span>
                <span class="text">Decision in 30 minutes and <br />funding in 48 hours</span>
              </span>
            </a>
          </li>
        </ul>
        <div class="container">
          <div class="text">
            <h2>Terms:</h2>
            <ul class="list-terms">
              <li><span class="green-text">Affordable</span> – lenders compete to provide best rates</li>
              <li><span class="green-text">Convenient</span> – automatic daily repayment</li>
              <li><span class="green-text">Flexible</span> – repayment fully in line with your business perfomance</li>
            </ul>
            <div class="card">
         	  <img src="{{ MEDIA_URL }}images/img-card.png" alt="" width="270" height="171" />
     		  </div>
            <form action="#" class="form-content">
              <fieldset>
                <div class="row">
                  <input type="button" class="btn-apply {% if active %}active-user{% else %}register-popup{% endif %}" value="Apply" />
                </div>
                <div class="row">
                  <label>I agree to <a href="/privacy-and-security/">Privacy Policy</a> and <a href="/terms-of-use/">Terms of Use</a>.</label>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
