	<nav class="nav-holder">
		<div class="frame">
			<ul class="menu">
				{% if flag %}
					<li><a href="/">Home</a></li>
					<li><a href="/profile/">Apply</a></li>
					<li><a href="/account/">My Account</a></li>
            		<li><a href="/account/credit-offers/">Credit offers</a></li>
				{% else %}
		            <li><a href="/">Home</a></li>
		            <li><a href="/lender/marketplace/">Marketplace</a></li>
		            <li><a href="/lender/account/">My Account</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>