<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>SmallCreditExchange</title>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/all.css" />
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/validationEngine.jquery.css" />
  <script type="text/javascript" src="{{ MEDIA_URL }}js/modernizr.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/clear-form-fields.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/form.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js" ></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.touch.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/formValidator/jquery.validationEngine.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/formValidator/languages/jquery.validationEngine-en.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.main.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/input-type-file.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.functions.js"></script>
  <!--[if lt IE 8]><link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ie.css" /><![endif]-->
  <!--[if lt IE 9]><script type="text/javascript" src="{{ MEDIA_URL }}js/pie.js"></script><![endif]-->
</head>
<body>
  <div id="wrapper">
    <div class="header-holder">
      <header id="header">
        <span class="head-info">Lenders compete to provide financing to small businesses on best terms</span>
        <strong class="logo"><a href="/">SmallCreditExchange</a></strong>
        <strong class="num">1.888.123.4567</strong>
        <form action="#" class="form-user">
          <fieldset>
            <div class="holder">
              <div class="input-holder" style="width: 121px;">
                <span class="input"><input type="text" value="email" /></span>
              </div>
              <div class="input-holder" style="width: 121px;">
                <span class="input"><input type="password" value="password" /></span>
              </div>
              <input type="button" class="btn-form" value="Sign in" />
            </div>
            <div class="row-link">
              <span class="link-holder"><a class="register-popup" href="#">Sign up for free</a></span>
              <span class="link-holder"><a href="#" id="btn-popup1">Forgot ID/Password</a></span>
            </div>
          </fieldset>
        </form>
      </header>
    </div>
  {% block content %}
  {% endblock %}
  </div>
  <footer id="footer">
    <div class="footer-holder">
      <ul class="footer-nav">
        <li><a href="#">Privacy & Security</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Rates & Fees</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </footer>
  <div class="popup-holder" id="popup1" style="display:none;">
    <div class="bg">&nbsp;</div>
    <div class="popup">
      <div class="content-popup">
        <p>Did you forget your password?</p>
        <form action="#" class="form-popup" id="form-foget">
          <fieldset>
            <span class="info-form">Enter your email address and we will send you an email with instructions for resetting your password.</span>
            <div class="row">
              <label>Email:</label>
              <span class="input"><input type="text" value="email"  class="validate[required,custom[email]]" id="form-forget-email" /></span>
            </div>
            <div class="row">
              <label>&nbsp;</label>
              <div class="btn-form" style="width: 137px;">
                <span>
                  Reset password
                  <input type="submit" value="Reset password" />
                </span>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div class="popup-holder" id="popup2" style="display:none;">
    <div class="bg">&nbsp;</div>
    <div class="popup">
      <span class="popup-info">Thank you! <br />We look forward to adding you aboard shortly.</span>
    </div>
  </div>
  <div class="popup-holder" id="popup3" style="display:none;">
    <div class="bg">&nbsp;</div>
    <div class="popup">
      <div class="content-popup">
        <form action="#" class="form-popup form-popup-indent" id="form-auth">
          <fieldset>
            <span class="info-form">Set up your account:</span>
            <div class="row row-input">
              <label>Email:</label>
              <span class="input"><input type="text" value="email" class="validate[required,custom[email]]" id="form-auth-email" /></span>
            </div>
            <div class="row">
              <label>Password:</label>
              <span class="input"><input type="password" value="password"  class="validate[required]" id="form-auth-password" /></span>
            </div>
            <div class="row">
              <label>&nbsp;</label>
              <div class="btn-form" style="width: 137px;">
                <span>
                  Go!
                  <input type="submit" value="Go!" />
                </span>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div class="popup-holder" id="register" style="display:none;">
    <div class="bg">&nbsp;</div>
    <div class="popup">
      <div class="content-popup">
        <form action="#" class="form-popup form-popup-indent" id="form-sign-up">
          <fieldset>
            <p>Sign up for free:</p>
            <div class="row">
              <label>Email:</label>
              <span class="input"><input type="text" value="email" class="validate[required,custom[email]]" id="form-sign-up-email" /></span>
            </div>
            <div class="row">
              <label>Password:</label>
              <span class="input"><input type="password" value="password" class="validate[required]" id="form-sign-up-password" /></span>
            </div>
            <div class="row">
              <label>Confirm:</label>
              <span class="input"><input type="password" value="confirm password" class="validate[required,equals[form-sign-up-password]]" id="form-sign-up-confirm-password"/></span>
            </div>
            <div class="row">
              <label>&nbsp;</label>
              <div class="btn-form" style="width: 137px;">
                <span>
                  Sign up
                  <input type="submit" value="Sign up" id="form-sign-submit"/>
                </span>
              </div>
            </div>
          </fieldset>
            Already have an account? <a href="#" class="login-revert">Login</a>
            <br/>
        </form>
      </div>
    </div>
  </div>
</body> 
</html>