{% extends 'misc/base.html' %}
{% block content %}
    <div class="main-holder">
      <nav class="nav-holder">
        <div class="frame">
          <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/lender/marketplace/">Marketplace</a></li>
            <li><a href="/lender/account/" class="active">My Account</a></li>
          </ul>
        </div>
      </nav>
      <div id="main">
        <a href="/lender/edit/" class="link-exit">Edit</a>
        <ul class="main-list">
          <li>
            <div>
              <a href="/lender/portfolio/">Portfolio</a>
            </div>
          </li>
          <!--
          <li>
            <div>
              <a href="/lender/statements/">Statements</a>
            </div>
          </li>
          -->
          <li class="last-child">
            <div>
              <a href="/lender/account/" class="active">Account</a>
            </div>
          </li>
        </ul>
        <div class="table-content">
          <h2 class="title-table">Account Information</h2>
          <div class="table-info">
            <table>
              <tbody>
                {% if lender.middle_name|length %}  
                <tr>
                  <td class="col01">Your name*</td>
                  <td class="col02">{{lender.suffix}} {{lender.first_name}} {{ lender.middle_name }} {{ lender.last_name }}</td>
                </tr>
                {% endif %}
                <tr>
                  <td class="col01">Email*</td>
                  <td class="col02"><a href="mailto:{{system_account.email}}" class="link-mail">{{system_account.email}}</a></td>
                </tr>
                {% if lender.cell_phone|length %} 
                <tr>
                  <td class="col01">Phone</td>
                  <td class="col02">{{ lender.cell_phone }} {{ lender.home_phone }}</td>
                </tr>
                {% endif %}
                {% if lender.title|length %} 
                <tr>
                  <td class="col01">Title</td>
                  <td class="col02">{{ lender.title }}</td>
                </tr>
                {% endif %}
                {% if lender.company|length %} 
                <tr>
                  <td class="col01">Company</td>
                  <td class="col02">{{ lender.company }}</td>
                </tr>
                {% endif %}
                {% if lender.street|length %}
                <tr>
                  <td class="col01">Address</td>
                  <td class="col02">{{lender.street}}, {{lender.city}}, {{lender.state}}, {{ lender.zip_code }}, {{ lender.country }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
          <h2 class="title-table">Portfolio Criteria</h2>
          <div class="table-info">
            <table>
              <tbody>
                {% if geography_tags|length > 0 %}
                <tr>
                  <td class="col01">Geography</td>
                  <td class="col02">
                    {% for value in geography_tags %}
                      {{value.name}}
                    {% endfor %}
                  </td>
                </tr>
                {% endif %}
                {% if risk_tags|length > 0 %}
                <tr>
                  <td class="col01">Risk level</td>
                  <td class="col02">
                    {% for value in risk_tags %}
                      {{value.name}}
                    {% endfor %}
                  </td>
                </tr>
                {% endif %}  
                {% if industry_tags|length > 0 %}
                <tr>
                  <td class="col01">Industry</td>
                  <td class="col02">                  
                    {% for value in industry_tags %}
                      {{value.name}}
                    {% endfor %}
                    </td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
