{% extends 'misc/base.html' %}
{% block content %}
    <div class="main-holder">
      <nav class="nav-holder">
        <div class="frame">
          <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/lender/marketplace/">Marketplace</a></li>
            <li><a href="/lender/account/" class="active">My Account</a></li>
          </ul>
        </div>
      </nav>
      <div id="main">
        <a href="/lender/edit/" class="link-exit">Edit</a>
        <ul class="main-list">
          <li>
            <div>
              <a href="/lender/portfolio/">Portfolio</a>
            </div>
          </li>
          <li>
            <div>
              <a href="/lender/statements/">Statements</a>
            </div>
          </li>
          <li class="last-child">
            <div>
              <a href="/lender/account/" class="active">Account</a>
            </div>
          </li>
        </ul>
        <div class="table-content">
          <h2 class="title-table">Account Information</h2>
          <div class="table-info">
            <table>
              <tbody>
                <tr>
                  <td class="col01">Your name*</td>
                  <td class="col02">Adam Adamson</td>
                </tr>
                <tr>
                  <td class="col01">Email*</td>
                  <td class="col02"><a href="mailto:adam@adamco.com" class="link-mail">adam@adamco.com</a></td>
                </tr>
                <tr>
                  <td class="col01">Phone</td>
                  <td class="col02">212 345 09 87</td>
                </tr>
                <tr>
                  <td class="col01">Company*</td>
                  <td class="col02">Adam Co.</td>
                </tr>
                <tr>
                  <td class="col01">Title</td>
                  <td class="col02">CEO</td>
                </tr>
                <tr>
                  <td class="col01">Address*</td>
                  <td class="col02">200 Park Ave, New York, NY, 10153</td>
                </tr>
                <tr>
                  <td class="col01">Bank account*</td>
                  <td class="col02">
                    <span class="text-hold"><span class="color-grey">Routing #</span>1234567</span>
                    <span class="text-hold"><span class="color-grey">Account #</span>1234567</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <h2 class="title-table">Portfolio Criteria</h2>
          <div class="table-info">
            <table>
              <tbody>
                <tr>
                  <td class="col01">Geography</td>
                  <td class="col02">New York</td>
                </tr>
                <tr>
                  <td class="col01">Risk level</td>
                  <td class="col02">Low</td>
                </tr>
                <tr>
                  <td class="col01">Industry</td>
                  <td class="col02">Medical</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
