{% extends 'misc/base.html' %}
{% block content %}
		{% load humanize %}
		<div class="main-holder">
			<nav class="nav-holder">
				<div class="frame">
		          <ul class="menu">
		            <li><a href="/">Home</a></li>
		            <li><a href="/lender/marketplace/" class="active">Marketplace</a></li>
		            <li><a href="/lender/account/">My Account</a></li>
		          </ul>
				</div>
			</nav>
			<div id="main">
				<div class="table-content table-content-indent02">
					<table class="table-description table-description-other">
						<tbody>
							<tr>
								<td class="col01">Borrower:</td>
								<td class="col02">{{business.business_name}}</td>
								<td class="col03">Risk:</td>
								<td class="col04">{{borrower.risk_level}}</td>
								<td class="col05" rowspan="3">
									<span class="finish-date"></div>
									{% if loan_offer == '' %}
									<div class="link-holder link-holder-indent">
										<a href="#" class="btn-status"><span>Bid</span></a>
										<a href="#" class="btn-status decline" rel="{{system_account.id}}" id="decline"><span>Decline</span></a>
										<div class="bid-drop">
											<form action="#">
												<fieldset>
													<div class="row">
														<span class="input" style="width: 88px;"><input type="text" value="{{business_measure.amount}}" id="bid-amount" /></span>
														<label>Amount, $</label>
													</div>
													<div class="row">
														<span class="input" style="width: 88px;"><input type="text" value="1.1"  id="bid-discount" /></span>
														<label>Factor Rate, x</label>
													</div>
													<div class="row">
														<span class="input" style="width: 88px;"><input type="text" value="10"  id="bid-daily-repayment" /></span>
														<label>Daily repayment, %</label>
													</div>
													<div class="row">
														<a href="#" class="btn-bid" id="bid" rel="{{system_account.id}}"><span>Done</span></a>
													</div>
												</fieldset>
											</form>
										</div>
									</div>
									{% else %}
										<div class="link-holder link-holder-indent" style="display:none">
											<a href="#" class="btn-status"><span>Bid</span></a>
											<a href="#" class="btn-status decline" rel="{{system_account.id}}" id="decline"><span>Decline</span></a>
											<div class="bid-drop">
												<form action="#">
													<fieldset>
														<div class="row">
															<span class="input" style="width: 88px;"><input type="text" value="{{business_measure.amount}}" id="bid-amount" /></span>
															<label>Amount, $</label>
														</div>
														<div class="row">
															<span class="input" style="width: 88px;"><input type="text" value="loan_offer.discount"  id="bid-discount" /></span>
															<label>Factor Rate, x</label>
														</div>
														<div class="row">
															<span class="input" style="width: 88px;"><input type="text" value="loan_offer.daily_repayment_sale"  id="bid-daily-repayment" /></span>
															<label>Daily repayment, %</label>
														</div>
														<div class="row">
															<a href="#" class="btn-bid" id="bid" rel="{{system_account.id}}"><span>Done</span></a>
														</div>
													</fieldset>
												</form>
											</div>
										</div>
										<div class="submit-offer">
											{% if loan_offer.status == 1 %}
												You submitted <br/> your offer<br/> on {{borrower.created|date:'m/d/y'}}
											{% else %}
												You Decline <br/> your <br/> offer on {{borrower.created|date:'m/d/y'}}
											{% endif %}
											{% if loan_offer.status_lender != 1 %}
												<a href="#" class="change-bid" rel="{{loan_offer.id}}">Change bid</a>
											{% endif %}
										</div>
									{% endif %}
								</td>
							</tr>
							<tr>
								<td class="col01">Amount:</td>
								<td class="col02">${{business_measure.amount|intcomma}}</td>
								<td class="col03">Industry:</td>
								<td class="col04">{{business.industry}}</td>
							</tr>
							<tr>
								<td class="col01">Date:</td>
								<td class="col02">{{borrower.created|date:'m/d/y'}}</td>
								<td class="col03">Location:</td>
								<td class="col04">{{business.city}}</td>
							</tr>
						</tbody>
					</table>
					<h2 class="title-table">Personal</h2>
					<div class="table-info">
						<table>
							<tbody>
								<tr>
									<td class="col01">Your name</td>
									<td class="col02">{{borrower.suffix}} {{borrower.first_name}} {{borrower.middle_name}} {{borrower.last_name}} {{borrower.other_name}}</td>
								</tr>
								<tr>
									<td class="col01">Personal address</td>
									<td class="col02">{{borrower.street}}, {{borrower.city}}, {{borrower.state}}, {{ borrower.zip_code }}, {{ borrower.country }}</td>
								</tr>
								<tr>
									<td class="col01">Personal phone</td>
									<td class="col02">{{ borrower.home_phone }} {{ borrower.cell_phone }}</td>
								</tr>
								<tr>
									<td class="col01">Email</td>
									<td class="col02"><a href="mailto:{{ system_account.email }}" class="link-mail">{{ system_account.email }}</a></td>
								</tr><tr>
									<td class="col01">Social Security #</td>
									<td class="col02">{{borrower.ssn}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<h2 class="title-table">Business</h2>
					{% load tags %}
					<div class="table-info">
						<table>
							<tbody>
								<tr>
									<td class="col01">Business name</td>
									<td class="col02">{{ business.business_name }}</td>
								</tr>
								<tr>
									<td class="col01">DBA</td>
									<td class="col02">{{ business.dba }}</td>
								</tr>
								<tr>
									<td class="col01">Business address</td>
									<td class="col02">{{business.street}}, {{business.city}}, {{business.state}}, {{ business.zip_code }}, {{ business.country }}</td>
								</tr>
								<tr>
									<td class="col01">Business phone</td>
									<td class="col02">{{ business.business_phone }}</td>
								</tr>
								<tr>
									<td class="col01">Industry</td>
									<td class="col02">{{ business.industry }}</td>
								</tr>
								<tr>
									<td class="col01">EIN</td>
									<td class="col02">{{business.ein}}</td>
								</tr>
								<tr>
									<td class="col01">Monthly sales</td>
									<td class="col02">${{business_measure.monthly_sales|intcomma}}</td>
								</tr>
								<tr>
									<td class="col01">Revenue 2012</td>
									<td class="col02">${{business_measure.revenue|intcomma}}</td>
								</tr>
								<tr>
									<td class="col01">Net profit 2012</td>
									<td class="col02">${{business_measure.net_profit|intcomma}}</td>
								</tr>
								{% if bank_file|length  %}
								<tr>
									<td class="col01">Bank account</td>
									<td class="col02">
				                    	{% for file in bank_file %}
				                      		<a href="{{ MEDIA_URL }}{{file.bank_file}}" class="filename filename-account">{% split_filename file.bank_file %}</a>
				                    		<br/>
				                    	{% endfor %}
									</td>
								</tr>								
								{% endif %}								
								{% if processor_file|length  %}
								<tr>
									<td class="col01">Processor account</td>
									<td class="col02">
				                    	{% for file in processor_file %}
				                      		<a href="{{ MEDIA_URL }}{{file.processor_file}}" class="filename filename-account">{% split_filename file.processor_file %}</a>
				                    		<br/>
				                    	{% endfor %}
									</td>
								</tr>								
								{% endif %}	
								{% if financial_file|length  %}
								<tr>
									<td class="col01">Financial Statements</td>
									<td class="col02">
				                    	{% for file in financial_file %}
				                      		<a href="{{ MEDIA_URL }}{{file.financial_file}}" class="filename filename-account">{% split_filename file.financial_file %}</a>
				                    		<br/>
				                    	{% endfor %}
									</td>
								</tr>								
								{% endif %}	
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
{% endblock %}