{% extends 'misc/base.html' %}
{% block content %}
		{% load humanize %}
		<div class="main-holder">
			<nav class="nav-holder">
				<div class="frame">
		          <ul class="menu">
		            <li><a href="/">Home</a></li>
		            <li><a href="/lender/marketplace/" class="active">Marketplace</a></li>
		            <li><a href="/lender/account/">My Account</a></li>
		          </ul>
				</div>
			</nav>
			<div id="main">
				<div class="table-content table-content-indent">
					<table class="table-general table-marketplace">
						<tbody>
							<tr>
								<th class="col01 align-left">Date</th>
								<th class="col02">Borrower</th>
								<th class="col03">Amount</th>
								<th class="col04">Industry</th>
								<th class="col05">Location</th>
								<th class="col06">Risk</th>
							</tr>
							{% for list in lists %}
								<tr class="{% cycle 'odd' '' %} client" rel="{{list.id}}">
									<td class="col01 align-left">{{list.date|date:'m/d/y'}}</td>
									<td class="col02">{{list.name}}</td>
									<td class="col03">${{list.amount|intcomma}}</td>
									<td class="col04">{{list.industry}}</td>
									<td class="col05">{{list.locale}}</td>
									<td class="col06">{{list.risk}}</td>
								</tr>
							{% endfor %}							
						</tbody>
					</table>
				</div>
			</div>
		</div>
{% endblock %}