{% extends 'misc/base.html' %}
{% block content %}
		{% load humanize %}
		<div class="main-holder">
			<nav class="nav-holder">
				<div class="frame">
		          <ul class="menu">
		            <li><a href="/">Home</a></li>
		            <li><a href="/lender/marketplace/">Marketplace</a></li>
		            <li><a href="/lender/account/" class="active">My Account</a></li>
		          </ul>
				</div>
			</nav>
			<div id="main">
		        <ul class="main-list">
		          <li>
		            <div>
		              <a href="/lender/portfolio/" class="active">Portfolio</a>
		            </div>
		          </li>
		          <!--
		          <li>
		            <div>
		              <a href="/lender/statements/">Statements</a>
		            </div>
		          </li>
		          -->
		          <li class="last-child">
		            <div>
		              <a href="/lender/account/" >Account</a>
		            </div>
		          </li>
				</ul>
				<div class="table-content">
					<table class="table-general table-portfolio">
						<tbody>
							<tr>
								<th class="col01 align-left">Date</th>
								<th class="col02">Borrower</th>
								<th class="col03">Amount</th>
								<th class="col04">Factor Rate</th>
								<th class="col05">Daily % of Sales</th>
								<th class="col06">Status</th>
							</tr>
							{% for list in lists %}
								<tr class="{% cycle 'odd' '' %} client" rel="{{list.id}}">
									<td class="col01 align-left">{{list.offer_date|date:'m/d/y'}}</td>
									<td class="col02">{{list.borrower}}</td>
									{% if list.amount != None %}
										<td class="col03">${{list.amount|intcomma}}</td>
									{% else %}
										<td class="col03">$0</td>
									{% endif %}
										<td class="col04">{{list.discount}}</td>
									{% if list.daily_repayment_sale != '' %}
										<td class="col05">{{list.daily_repayment_sale}}%</td>
									{% else %}
										<td class="col05">0%</td>
									{% endif %}
									<td class="col06">{{list.status}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<span class="table-text-info"></span>
			</div>
		</div>
{% endblock %}