{% extends 'misc/base.html' %}
{% block content %}
		<div class="main-holder">
			<nav class="nav-holder">
				<div class="frame">
		          <ul class="menu">
		            <li><a href="/">Home</a></li>
		            <li><a href="/lender/marketplace/">Marketplace</a></li>
		            <li><a href="/lender/account/" class="active">My Account</a></li>
		          </ul>
				</div>
			</nav>
			<div id="main">
		        <ul class="main-list">
		          <li>
		            <div>
		              <a href="/lender/portfolio/" class="active">Portfolio</a>
		            </div>
		          </li>
		          <!--
		          <li>
		            <div>
		              <a href="/lender/statements/">Statements</a>
		            </div>
		          </li>
		          -->
		          <li class="last-child">
		            <div>
		              <a href="/lender/account/" >Account</a>
		            </div>
		          </li>
				</ul>
				<div class="table-content">
					<table class="table-general table-portfolio">
						<tbody>
							<tr>
								<th class="col01 align-left">Date</th>
								<th class="col02">Borrower</th>
								<th class="col03">Amount</th>
								<th class="col04">Outstanding</th>
								<th class="col05">APR*</th>
								<th class="col06">Risk</th>
							</tr>
							{% for list in lists %}
								<tr class="{% cycle 'odd' '' %}" rel="{{list.id}}">
									<td class="col01 align-left">{{list.offer_date|date:'Y/m/d'}}</td>
									<td class="col02">{{list.borrower}}</td>
									<td class="col03">${{list.amount}}</td>
									<td class="col04">${{list.amount}}</td>
									<td class="col05">{{list.discount}}%</td>
									<td class="col06">A</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<span class="table-text-info">* Effective APR assuming current level of sales.</span>
			</div>
		</div>
{% endblock %}