{% extends 'misc/base.html' %}
{% block content %}
		<div class="main-holder">
			<nav class="nav-holder">
				<div class="frame">
		          <ul class="menu">
		            <li><a href="/">Home</a></li>
		            <li><a href="/lender/marketplace/">Marketplace</a></li>
		            <li><a href="/lender/account/" class="active">My Account</a></li>
		          </ul>
				</div>
			</nav>
			<div id="main">
		        <ul class="main-list">
		          <li>
		            <div>
		              <a href="/lender/portfolio/" class="active">Portfolio</a>
		            </div>
		          </li>
		          <li class="last-child">
		            <div>
		              <a href="/lender/statements/">Statements</a>
		            </div>
		          </li>
		          <li class="last-child">
		            <div>
		              <a href="/lender/account/" >Account</a>
		            </div>
		          </li>
				</ul>
				<div class="table-content">
					<table class="table-description table-size-other">
						<tbody>
							<tr>
								<td class="col01">Amount:</td>
								<td class="col02">$20,000</td>
								<td class="col03">To be repaid:</td>
								<td class="col04">$25,000</td>
								<td class="col05">Risk:</td>
								<td class="col06">A</td>
							</tr>
							<tr>
								<td class="col01">Date: </td>
								<td class="col02">1/12/2013</td>
								<td class="col03">APR*:</td>
								<td class="col04">15%</td>
								<td class="col05">Industry:</td>
								<td class="col06">Business Svcs</td>
							</tr>
							<tr>
								<td class="col01">Borrower:</td>
								<td class="col02">Office Cleaners & Co.</td>
								<td class="col03">Time to repay**:</td>
								<td class="col04">9 months</td>
								<td class="col05">Location:</td>
								<td class="col06">New York</td>
							</tr>
						</tbody>
					</table>
					<table class="table-general table-general-other">
						<tbody>
							<tr>
								<th class="col01 align-left">Date</th>
								<th class="col02">Provided</th>
								<th class="col03">Paid</th>
								<th class="col04">Balance</th>
								<th class="col05">&nbsp;</th>
							</tr>
							<tr class="odd">
								<td class="col01 align-left">1/20/2013</td>
								<td class="col02">-</td>
								<td class="col03">$100</td>
								<td class="col04">$19,204</td>
								<td class="col05">&nbsp;</td>
							</tr>
							<tr>
								<td class="col01 align-left">1/19/2013</td>
								<td class="col02">-</td>
								<td class="col03">$110</td>
								<td class="col04">$19,304</td>
								<td class="col05">&nbsp;</td>
							</tr>
							<tr class="odd">
								<td class="col01 align-left">1/18/2013</td>
								<td class="col02">-</td>
								<td class="col03">$90</td>
								<td class="col04">$19,414</td>
								<td class="col05">&nbsp;</td>
							</tr>
							<tr>
								<td class="col01 align-left">1/17/2013</td>
								<td class="col02">-</td>
								<td class="col03">$75</td>
								<td class="col04">$19,504</td>
								<td class="col05">&nbsp;</td>
							</tr>
							<tr class="odd">
								<td class="col01 align-left">1/16/2013 </td>
								<td class="col02">-</td>
								<td class="col03">$86</td>
								<td class="col04">$19,779</td>
								<td class="col05">&nbsp;</td>
							</tr>
							<tr>
								<td class="col01 align-left">1/15/2013</td>
								<td class="col02">-</td>
								<td class="col03">$121</td>
								<td class="col04">$19,665</td>
								<td class="col05">&nbsp;</td>
							</tr>
							<tr class="odd">
								<td class="col01 align-left">1/14/2013</td>
								<td class="col02">-</td>
								<td class="col03">$114</td>
								<td class="col04">$19,768</td>
								<td class="col05">&nbsp;</td>
							</tr>
							<tr>
								<td class="col01 align-left">1/13/2013</td>
								<td class="col02">-</td>
								<td class="col03">$100</td>
								<td class="col04">$19,900</td>
								<td class="col05">&nbsp;</td>
							</tr>
							<tr class="odd">
								<td class="col01 align-left">1/12/2013</td>
								<td class="col02">$20,000</td>
								<td class="col03">-</td>
								<td class="col04">$20,000</td>
								<td class="col05">&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</div>
				<span class="table-text-info"> * Estimated APR based on current sales. <br />** Estimated time to repay based on current sales.</span>
			</div>
		</div>
{% endblock %}